<div class="container">
<h1>Ok</h1>
  <p id="notice"><%= notice %></p>
  <br>
  <div class="new_entry">
    <p class="entry_button"><%= link_to 'New Entry', new_entry_path, :remote => true, :class => 'create_entry' %></p>
  </div>
  <div class="all_entries">
    <%@entries.each do |entry| %>
    <p><%=entry.content %></p>
    <% end %>
  </div>
  <p> entries count <%= @entries.count %> </p>
</div>