<div class="container">
  <p id="notice"><%= notice %></p>
  <br>
  <div class="new_entry">
    <p class="entry_button"><%= link_to 'New Entry', new_entry_path, :remote => true, :class => 'create_entry' %></p>
    <%@entries.each do |entry| %>
    <p><%=entry.content %></p>
    <% end %>
  </div>
</div>