html {
	color: #4B494F;
	background-color: #00AEEF;
}

* {
	margin: 0;
}

.container {
	margin-right: auto;
}

nav{
	float: right;
	padding-right: 1.4em;
}

li {
	display: inline-block;
	padding: 2em;
	font-size: 24px;
	color: #A6CF41
}
