<!DOCTYPE html>
<html>
<head>
  <title>PersonalWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>

	<nav>
		<ul class="social_media">
      <li> <img src="/assets/linkedin.png"></li>
      <li> <img src="/assets/twitter.png"></li>
      <li> <img src="/assets/github.png"></li>
		</ul>
	</nav>

</header>
<body>

</div>
<%= yield %>

</body>
</html>
